/build/
/out/
/bin/
/lib/
/obj/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile
*.make
*.ninja
*.ninja_deps
*.ninja_log

*.exe
*.dll
*.a
*.o


/.vs/
.vscode/


*.csv


*.png

__pycache__/
*.pyc


*.log

Thumbs.db
Desktop.ini



/tests/output/
*.prof
*.perf
*.dump

!.gitkeep

